@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --purple: #8e7bef;
    --black: #222222;
    --yellow: #fcda68;
    --gray: #423F40;
    --white: #FFFFFF;
    --lightgray: #f9f5f2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: 'Inter', sans-serif;
}

img{
    max-width: 100%;
}

.nav{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}

label>img{
    width: 30px;
}

#btn-menu{
    visibility: hidden;
}

.nav-menu{
    position: absolute;
    background-color: var(--lightgray);
    width: 100%;
    /* right: 0; */
    top: 80px;
    min-height: calc(100vh -80px);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: -100%;
    transition: left 0.3s linear;
}

.nav-item{
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.nav-item>a{
    text-decoration: none;
    color: var(--gray);
}

.nav-item>a:hover{
    text-decoration: underline;
    color: var(--gray);
}

#btn-menu:checked ~ .nav-menu{
    left: 0;
}

.icon{
    width: 30px;
    fill: var(--purple);
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.btn-header{
    display: flex;
    background-color: var(--purple);
    color: var(--white);
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

@media screen and (min-width: 678px){

/* Add media query to hamb menu */
    label{
        display: none;
    }
    .nav-menu{
        position: static;
        flex-direction: row;
        min-height: auto;
        justify-content: end;
        background-color: transparent;
        color: var(--black);
    }

    .nav-item{
        padding-left: 1.25rem;
        font-size: 1rem;
    }
}


