@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
    --purple: #8e7bef;
    --black: #222222;
    --yellow: #fcda68;
    --gray: #423F40;
    --white: #FFFFFF;
    --lightgray: #f9f5f2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
    color: var(--black);
    font-family: 'Inter', sans-serif;
}

img{
    max-width: 100%;
}

.nav{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}

label>img{
    width: 30px;
}

#btn-menu{
    visibility: hidden;
}

.nav-menu{
    position: absolute;
    background-color: var(--lightgray);
    width: 100%;
    /* right: 0; */
    top: 80px;
    min-height: calc(100vh -80px);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: -100%;
    transition: left 0.3s linear;
}

.nav-item{
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.nav-item>a{
    text-decoration: none;
    color: var(--gray);
}

.nav-item>a:hover{
    text-decoration: underline;
    color: var(--gray);
}

#btn-menu:checked ~ .nav-menu{
    left: 0;
}

.icon{
    width: 30px;
    fill: var(--purple);
}

.header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
}

.text--accent{
    color: var(--purple);
}

.social-container{
    display: flex;
    max-width: 350px;
    margin: auto;
    gap: 1rem;
}

.header-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.header-text > p{
    color: var(--gray);
}

.btn-header{
    display: flex;
    background-color: var(--purple);
    color: var(--white);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
    width: 65%;
    margin-bottom: 3rem;
    border: transparent;
}

.btn-header.desktop{
    display: none;
}

.header-image{
    width: 65%;
    max-width: 500px;
}

.section-exp{
    background-color: var(--yellow);
    /* padding: 2rem; */
}

h2{
    font-size: 40px;
    margin-bottom: 1rem;
}

.exp-titles{
    padding: 1rem;
}

.exp-titles > p{
    color: var(--gray);
}

.exp-container{
    padding: 1rem;
}

.exp-info{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: .5rem;
    padding-bottom: 0.5rem;
}

.exp-info.uno, .exp-info.dos{
    border-bottom: 1px solid var(--gray);
}

.fecha, .exp-company{
    color: var(--gray);
}

.info--titles{
    display: flex;
    flex-direction: column;

}

.exp-puesto{
    font-weight: bold;
}

.section-habilidades{
    padding: 1rem;
}

.habilidades-container{
    display: flex;
    flex-direction: column;
}

.habilidades-container > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.habilidades-container small{
    max-width: 150px;
    text-align: center;
    font-weight: 500;
}

.img-habilidades{
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    padding: .25rem;
    background-color: var(--lightgray);
    border-radius: 15%;
}

/* .img-habilidades.bootstrap{
    fill: var(--purple);
} */

.portafolio{
    padding: 1rem;
}

.portafolio-container{
    display: flex;
    flex-direction: column;
}


/* .img-portafolio{
    /* max-width: 300px; */
    /* Cuando aplico esto, no se alinean al centro las imagenes 
} */

.section-portafolio{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.section-portafolio > h4{
    color: var(--purple);
    font-weight: 500;
    font-size: large;
    /* margin-bottom: 0.75rem; */
    margin: 2rem 0 0.75rem 0;
}

.section-contact{
    padding: 1rem;
}

.contact-div{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact{
    gap: 0.5rem;
    margin: 2rem;
    flex-grow: 1;
    /* max-width: 50%; */
    /* width: 200px; */
    /* No se aplica el mismo tamaño para los contenedores */
}

.contact > img{
    background-color: var(--lightgray);
    padding: 1rem;
    border-radius: 50%;
}

.contact > small{
    color: var(--gray);
}

footer{
    color: var(--purple);
    margin: 2rem 1rem;
    text-align: center;
}



@media screen and (min-width: 678px){

/* Add media query to hamb menu */
    label{
        display: none;
    }
    .nav-menu{
        position: static;
        flex-direction: row;
        min-height: auto;
        justify-content: end;
        background-color: transparent;
        color: var(--black);
    }

    .nav-item{
        padding-left: 1.25rem;
        font-size: 1rem;
    }

    .btn-header.desktop{
        display: flex;
    }

    .btn-header.mobile{
        display: none;
    }

    .header-info{
        flex-direction: row;
        padding: 0 3rem 2rem 3rem;
        margin-bottom: 2rem;
        justify-content: space-evenly;
    }

    .header-text{
        gap: 3rem;
    }

    .header-text > p{
        font-size: 25px;
    }

    h1{
        font-size: 50px;
    }

    .section-exp{
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem;
    }

    .exp-titles{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    .exp-container{
        min-width: 50%;
    }

    .section-habilidades{
        width: 100%;
    }

    .habilidades-container{
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        align-items: baseline;
        justify-content: space-evenly;
    }

    .habilidades-container.logos{
        align-self: stretch;
    }

    .portafolio-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .portafolio{
        padding: 2rem;
    }
}


